body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    background-color: #ccdeff;
    color: #0f0fec;
    margin: 10px;
    padding: 5px 50px 5px 5px
    border-radius: 5px;
    border: 1px solid lightgrey;
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

.message-success {
    background-color: #cff3da;
    color: green;
    margin: 10px;
    padding: 5px 50px 5px 5px
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.message-warning {
    background-color: #fcfbc9;
    color: #8a7610;
    margin: 10px;
    padding: 5px 50px 5px 5px
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.message-error {
    background-color: #fad2d6;
    color: #c40e75;
    margin: 10px;
    padding: 5px 50px 5px 5px
    border-radius: 5px;
    border: 1px solid lightgrey;
}